<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Edit Wiki</title>
    <script src="/static/js/main.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
    <form>
      <p><label>Title:<input id="title-field"/></label></p>
      <p><label>Body:<input id="body-field"/></label></p>
      <p><button type="button" id="save">Save</button></p>
    </form>
    <a href="/"><button type="button">Back</button></a>
  </body>
</html>
